<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="sucessoFeedback">
            Cliente salvo/atualizado com sucesso
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback">
            {{ errorsFeedback }}
          </div>
        </div>
      </div>
    <form *ngIf="peca"  (ngSubmit)="onSubmit()" #pecasForm="ngForm">
        <div class="card">
            <!-- <img src="" [(ngModel)]="peca.foto" class="card-img-top" alt="img card" name="foto">  -->
            <div class="card-body">
                <div class="mb-3">
                  <label for="inputImage" class="form-label">Imagem da Peça</label>
                  <input type="file" class="form-control" id="inputImage" accept="image/*" [(ngModel)]="peca.foto" name="foto">
                </div>
              </div>
              
            
            <div class="card-body">
                <h5 class="card-title">Peça</h5>
                    <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" type="text" placeholder="Nome" name="Nome" value="peca.nome" [(ngModel)]="peca.nome"> 
                    <label for="floatingInput" class="form-label">Nome</label>
                 </div>
            </div>

            <div class="card-body">
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" type="text" placeholder="Descrição" name="Descrição" value="peca.descricao" [(ngModel)]="peca.descricao">
                    <label for="floatingInput" class="form-label">Descrição</label>
                </div>
            </div>

            <div class="card-body">
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" type="number" placeholder="Quantidade" name="Quantidade" value="peca.quantidade" [(ngModel)]="peca.quantidade">
                    <label for="floatingInput" class="form-label">Quantidade em estoque</label>
                </div>
            </div>

            <div class="card-body">
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" type="text" placeholder="Marca" name="Marca" value="peca.marca" [(ngModel)]="peca.marca">
                    <label for="floatingInput" class="form-label">Marca / Fornececedor</label>
                </div>
            </div>

            <div class="card-body">
                <div class="mb-3">
                    <label for="ano" class="form-label">Ano</label>
                    <input class="form-control" id="ano" type="number" min="1900" max="2099" step="1" placeholder="Ano" name="Ano" value="peca.ano" [(ngModel)]="peca.ano">
                </div>
            </div>
            

            <div class="card-body">
                <div class="mb-3">
                    <label for="preco" class="form-label">Preço</label>
                    <div class="input-group">
                        <span class="input-group-text">R$</span>
                        <input class="form-control" id="preco" type="number" step="0.01" min="0.01" placeholder="0.00" name="Preço" value="peca.preco" [(ngModel)]="peca.preco">
                    </div>
                </div>
            </div>
            

            <div class="card-body">
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" type="text" name="Modelo" placeholder="Modelo" value="peca.modelo" [(ngModel)]="peca.modelo">
                    <label for="floatingInput" class="form-label">Modelo</label>
                </div>
            </div>

            <div class="card-body">
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" type="text" name="Fornecedor" placeholder="Fornecedor" value="peca.fornecedor.nome" [(ngModel)]="peca.fornecedor.nome">
                    <label for="floatingInput" class="form-label">Fornecedor</label>
                </div>
            </div>
        </div>

        <button type="submit">Enviar</button>
    </form>
</div>
