@import '../../../../../assets/scss/variaveis.scss';

.text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  font-size: 30vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

