<div class="container w-50 pb-5">
  <div class="row d-flex justify-content-center">
    <img src="/assets/img/LogoSemFundo.png" class="w-25 h-25 mb-3" alt>
    <p class="p-title text-center mb-2">COLOQUE UMA <br>PEÇA NA AUTOPARTS</p>
    <p class="subtitle text-center mb-5">Crie a conta de funcionário em nossa
      Loja e <br>trabalhe com a melhor empresa de
      <br>automotivos com qualidade e garantia
    </p>
  </div>

  <form #pecaForm="ngForm" (submit)="salvarPeca()">
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="alert alert-success" role="alert" *ngIf="sucessoFeedback">
          {{ sucessoFeedback }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback">
          {{ errorsFeedback }}
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form mb-3">
          <input type="file" class="form-control" id="inputImage"
            (change)="onFileChange($event)" >
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input class="form-control" id="floatingInput" type="text"
            placeholder="Nome" name="Nome" [(ngModel)]="peca.nome">
          <label for="floatingInput" class="form-label">Nome</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input class="form-control" id="floatingInput" type="text"
            placeholder="Descrição" name="Descrição"
            [(ngModel)]="peca.descricao">
          <label for="floatingInput" class="form-label">Descrição</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input class="form-control" id="floatingInput" type="number"
            placeholder="Quantidade" name="Quantidade"
            [(ngModel)]="peca.quantidade">
          <label for="floatingInput" class="form-label">Quantidade em estoque</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input class="form-control" id="floatingInput" type="text"
            placeholder="Marca" name="Marca" [(ngModel)]="peca.marca">
          <label for="floatingInput" class="form-label">Marca</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input class="form-control" id="ano" type="number" min="1900"
            max="2099" step="1" placeholder="Ano" name="Ano"
            [(ngModel)]="peca.ano">
          <label for="ano" class="form-label">Ano</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <div class="input-group">
            <span class="input-group-text">R$</span>
            <input class="form-control" id="preco" type="" step="0.01"
              min="0.01" placeholder="0.00" name="Preço"
              [(ngModel)]="peca.preco">
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input class="form-control" id="floatingInput" type="text"
            name="Modelo" placeholder="Modelo" [(ngModel)]="peca.modelo">
          <label for="floatingInput" class="form-label">Modelo</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <select class="form-control" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="peca.fornecedor.cnpj">
            <option value>Selecione</option>
            <option *ngFor="let fornecedor of fornecedores" [ngValue]="fornecedor.cnpj">
              {{ fornecedor.nome }}
            </option>
          </select>
          <label for="floatingInput">Fornecedor</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
      <div class="col-6">
        <button class="btn btn-roxo w-100" type="submit" *ngIf="!peca.pecas_id">
          CADASTRAR
        </button>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <button type="submit" class="btn btn-amarelo w-100"  *ngIf="peca.pecas_id">
          <i class="fa fa-sync-alt"></i>
          Atualizar
        </button>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
      <div class="col-6">
        <button type="button" class="btn btn-cinza w-100"
          (click)="voltarListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i>
          Voltar
        </button>
      </div>
    </div>
  </form>
</div>
