<div class="container ajust-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-between">
        <div class="col-md-1">
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col">
          <div class="alert alert-success" role="alert" *ngIf="sucessoFeedback">
            Fornecedor excluído com sucesso
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback">
            {{errorsFeedback}}
          </div>
        </div>
      </div>
      <table *ngIf="historicoExiste" class="table table-border-roxo table-font-roxo table-hover align-middle text-start">
        <thead>
          <tr>
            <td class="col columns-list">Id</td>
            <td class="col columns-list">Nome</td>
            <td class="col columns-list">CNPJ</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let venda of venda | search: searchText; let i = index">
            <td class="line-list"> {{ i + 1 }} </td>
            <td class="line-list"> {{ venda.nome }} </td>
            <td class="line-list"> {{ venda.cnpj }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
