<div class="container my-5 ajust-footer">
  <div class="row">
    <div class="col-md-12">
      <app-lista-vazia-historico *ngIf="!historicoExiste"></app-lista-vazia-historico>
      <table *ngIf="historicoExiste" class="table table-border-roxo table-font-roxo table-hover align-middle text-center">
        <thead>
          <tr>
            <td class="col columns-list">*</td>
            <td class="col columns-list">Produto</td>
            <td class="col columns-list">Preço</td>
            <td class="col columns-list">Quantidade</td>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let venda of vendas; let i = index">
            <td class="line-list"> {{ i + 1 }} </td>
            <td class="line-list"> {{ venda.peca.nome }} </td>
            <td class="line-list"> {{ venda.peca.preco }} </td>
            <td class="line-list"> {{ venda.peca.quantidade }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
