<div class="container" *ngIf="forncedorDetalhado">
  <h2>Detalhes do Item</h2>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" [(ngModel)]="forncedorDetalhado.cnpj" name="cpf" class="form-control" id="floatingInput"
          placeholder="CNPJ" mask="00.000.000/0000-00" disabled>
        <label for="floatingInput">CNPJ</label>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" [(ngModel)]="forncedorDetalhado.nome" name="nome" class="form-control" id="floatingInput"
          placeholder="Nome" disabled="">
        <label for="floatingInput">Nome</label>
      </div>
    </div>
  </div>

</div>

