<footer class="text-center text-lg-start text-muted fixed bg-roxo-animado">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Conecte-se com a gente através de nossas redes sociais</span>
    </div>
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Sobre nós
          </h6>
          <p> Sua fonte confiável para peças de carro de qualidade. Oferecemos variedades abrangente e atendimento experiente para manter seu veículo em ótima forma. Encontre soluções precisas com paixão automóvel no Auto Parts Bela Vista.</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Produtos
          </h6>
          <p>
            <a href="#!" class="text-reset">Carros</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Motos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Caminhões</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ônibus</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Valorizamos
          </h6>
          <p>
            <a href="#!" class="text-reset">Confiabilidade</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Segurança</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Agilidade</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Transparência</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contatos</h6>
          <p><i class="fas fa-home me-3"></i> SC, Gaspar 89111-009</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            autopartsstore@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> (47) 9958-9867</p>
          <p><i class="fas fa-print me-3"></i> (47) 9934-9889</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Auto Parts Bela Vista</a>
  </div>
</footer>
