@import '../../../assets/scss/variaveis.scss';

footer {
    background: var(--branco);
}

section, .text-center {
    color: var(--branco);
    border-bottom-color: var(--branco) !important;
}

.col-md-3 p {
    text-align: justify;
}