<div class="container ajust-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-roxo mx-5 my-3" (click)="novoCadastroPecas()" >
            <i class="fa fa-plus pe-2"></i>
            Novo
          </button>
        </div>
      </div>
      <table class="table table-condensed table-hover text-start">
        <thead>
          <tr>
            <td class="column-list">Imagem</td>
            <td class="column-list">Nome</td>
            <td class="column-list">Descrição</td>
            <td class="column-list">Estoque</td>
            <td class="column-list">Preço</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let peca of pecas" class="peca-card">
            <td><img *ngIf="peca.base64" [src]="getFotoUrl(peca)" alt="Foto da Peça" />   </td>
            <td> {{ peca.nome}} </td>
            <td> {{ peca.descricao}}</td>
            <td>  {{ peca.quantidade }} </td>
            <td> {{ peca.preco }} </td>

            <td class="d-flex justify-content-end">
              <button type="button" class="btn btn-vermelho mx-4 px-4" data-bs-toggle="modal" data-bs-target="#modalDelecao" >
                <i class="fa-solid fa-trash"></i>
              </button>
              <button type="button" class="btn btn-amarelo mx-4 px-4">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button type="button" class="btn btn-azul mx-4 px-4">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>

