<div class="container ajust-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-between">
        <div class="col-md-2">
          <button class="btn btn-roxo my-3" (click)="novoCadastroPecas()" >
            <i class="fa fa-plus pe-2"></i>
            Novo
          </button>
        </div>
        <div class="col-md-2">
          <input class="form-control mt-3" type="search" placeholder="Pesquisar..." aria-label="Search" [(ngModel)]="searchText">
        </div>
      </div>
      <lista-vazia-pecas *ngIf="!pecasExiste"></lista-vazia-pecas>
      <table *ngIf="pecasExiste" class="table table-border-roxo table-font-roxo table-hover align-middle text-start">
        <thead>
          <tr>
            <td class="columns-list">Imagem</td>
            <td class="columns-list">Nome</td>
            <td class="columns-list">Descrição</td>
            <td class="columns-list">Estoque</td>
            <td class="columns-list">Preço</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let peca of pecas | search: searchText" class="peca-card">
            <td class="line-list"><img class="img-peca" *ngIf="peca.base64" [src]="getFotoUrl(peca)" alt="Foto da Peça"/>   </td>
            <td class="line-list"> {{ peca.nome }} </td>
            <td class="line-list"> {{ peca.descricao }}</td>
            <td class="line-list"> {{ peca.quantidade }} </td>
            <td class="line-list"> {{ peca.preco | currency:'BRL':'symbol':'1.2-2' }} </td>

            <td class="d-flex justify-content-end max-height line-list">
              <button type="button" class="btn btn-vermelho mx-4 px-4 max-buttons" data-bs-toggle="modal" data-bs-target="#modalDelecao" (click)="preparaDelecao(peca)">
                <i class="fa-solid fa-trash"></i>
              </button>
              <button type="button" class="btn btn-amarelo mx-4 px-4 max-buttons" (click)="editarPeca(peca.pecas_id)">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button type="button" class="btn btn-azul mx-4 px-4 max-buttons">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação de Deleção</h4>
        </div>
        <div class="modal-body" *ngIf="pecaSelecionada">
          Confirmar a deleção de {{ pecaSelecionada.nome }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-roxo" (click)="deletarPeca()" data-bs-dismiss="modal">Confirmar</button>
          <button class="btn btn-cinza" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
</div>

