@import '../../../scss/base/base.scss';
@import '../../../scss/base/rem-calc.scss';

.box-main {
  display: flex;
  margin: auto;
  text-align: center;
  height: auto;
  width: rem-calc(400);
}

.logo-main {
  margin-top: rem-calc(65);
  width: rem-calc(70);
  height: rem-calc(70);
  margin-bottom: rem-calc(0);
}

.write-bold {
  font-weight: 800;
  color: $preto;
  font-size: rem-calc(18);
  margin-bottom: rem-calc(10);
}

.write {
  font-size: rem-calc(14);
  font-weight: 400;
  color: $cinza;
  margin-bottom: rem-calc(5);
}

.text-info {
  width: rem-calc(330);
  height: rem-calc(38);
  border: rem-calc(1);
  border-radius: rem-calc(3);
  border-style: solid;
  color: $cinza-claro;
  margin-top: rem-calc(5);
  margin-bottom: rem-calc(6);
  padding-left: rem-calc(20);
  border-color: currentColor;
  outline: 0;
  box-shadow: none;
}

.text-info:hover:focus {
  transition: 1.5s;
  color: $roxo;
  border-color: $roxo;
}

.text-info:not(:placeholder-shown) {
  transition: 1.5s;
  color: $cinza;
  border-color: $roxo;
}

.text-info-met {
  width: rem-calc(150);
  height: rem-calc(38);
  border: rem-calc(1);
  border-radius: rem-calc(3);
  border-style: solid;
  color: $cinza-claro;
  margin-top: rem-calc(5);
  margin-bottom: rem-calc(6);
  padding-left: rem-calc(20);
  border-color: currentColor;
  outline: 0;
  box-shadow: none;

}

.text-info-met:hover:focus {
  transition: 1.5s;
  color: $roxo;
  border-color: $roxo;
}

.text-info-met:not(:placeholder-shown) {
  transition: 1.5s;
  color: $cinza;
  border-color: $cinza;
}



.btn-dropdown a {
  margin-right: rem-calc(275);
  color: $cinza;
}

.btn-dropdown img {
  display: inline;
}

.btn-dropdown:hover {
  transition: 1.5s;
  color: $cinza;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.container {
  margin-top: rem-calc(25);
  font-size: rem-calc(9);
  display: flex;
  color: $cinza;
  text-align: left;
  place-content: center;
  gap: rem-calc(10);
  height: center;
  width: center;
}

input[type="checkbox"] {
  appearance: none;
  background-color: $branco;
  font: inherit;
  color: $cinza-claro;
  width: rem-calc(20);
  height: rem-calc(20);
  border: rem-calc(1) solid currentColor;
  border-radius: rem-calc(4);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:before {
  appearance: none;
  content: "\2713";
  color: $roxo;
  position: absolute;
  top: rem-calc(-1);
  left: rem-calc(6);
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 300ms transform ease-in-out;
  box-shadow: inset rem-calc(1) rem-calc(1) var(--container-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(2);
}

input[type="checkbox"]:focus {
  outline: max(rem-cal(2), rem-calc(1)) solid currentColor;
  outline-offset: max(rem-calc(1), rem-calc(1));
}

.terms {
  font-size: rem-calc(12);
  margin-top: rem-calc(11);
  color: $cinza;
  align-items: center;
  font-weight: 400;
}

.terms u {
  font-weight: 500;
}

.button-text {
  font-size: rem-calc(15);
  color: $branco;
  font-weight: 300;
}

button[type="submit"] {
  height: rem-calc(38);
  width: rem-calc(350);
  margin-top: rem-calc(20);
  border-radius: rem-calc(4);
  border-color: transparent;
  transition: 500ms;
  background-image: $linear-corrente;
  background-size: 200% auto;
  text-align: center;
}


button[type="submit"]:hover {
  transform: scale(1.1, 1.1);
  background-position: right center;
}

.login {
  color: $cinza;
  font-size: rem-calc(1);
  margin-top: rem-calc(18);
  margin-bottom: rem-calc(120);
}
