<div class="box-main">
  <div>
    <img src="assets/img/logo/LogoPretoTransparente.png" class="logo-main" alt="Logo AutoParts na Main">
    <ul class="write-bold">TORNE-SE UM
      <p>CONSUMIDOR AUTOPARTS</p>
    </ul>
    <ul class="write">Crie sua conta em nossa Loja e
      <p>obtenha acesso aos melhores produtos</p>
      <p>automotivos com qualidade e garantia.</p>
    </ul>
    <input placeholder="Email" class="text-info">
    <input type="password" placeholder="Senha" class="text-info">
    <input placeholder="Primeiro Nome" class="text-info">
    <input placeholder="Sobrenome" class="text-info">
    <input placeholder="CEP" class="text-info">
    <input placeholder="Estado" class="text-info-met">
    <input placeholder="Cidade" class="text-info-met">
    <input placeholder="Bairro" class="text-info-met">
    <input placeholder="Rua" class="text-info-met">
    <input placeholder="Número da Casa" class="text-info-met">
    <input placeholder="Complemento" class="text-info-met">
    <label class="container">
      <input type="checkbox">
      <span>Inscreva-se para receber e-mails com atualizações da AutoParts <p>Store sobre produtos, ofertas e benefícios
          para membros</p>
      </span>
    </label>
    <ul class="terms">
      <p>Ao criar uma conta, você concorda com a Política de <br>
        Privacidade e os Termos de Uso da AutoParts Store</p>
    </ul>
    <form>
      <button type='submit'>
        <span class="button-text">CRIAR CONTA</span>
      </button>
    </form>
    <ul class="login">Já é um Membro? <b><u>Entrar.</u></b></ul>
  </div>
</div>
