<div class="container height-full">
    <div class="d-flex justify-content-between">
      <h1 class="fs-2 my-4 mx-4 title">LOJA</h1>
      <div class="form-floating my-3">
        <input class="form-control w-100 justify-content-end" type="search" placeholder="Pesquisar..." [(ngModel)]="searchText" id="floatingInput">
      <label for="floatingInput" class="form-label">Pesquisar</label>
      </div>
    </div>
    <hr class="row-hr m-0">
    <div class="row row-cols-1 row-cols-5 g-3">
      <div *ngFor="let peca of pecas" class="d-flex my-4 mx-0">
        <div class="card w-100">
          <img *ngIf="peca.base64" [src]="getFotoUrl(peca)" alt="Foto da Peça" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title"> {{ peca.nome }} </h3>
            <h5 class="text-filter"> {{ peca.descricao }} </h5>
            <h5 class="text-filter">Estoque: {{ peca.quantidade }} </h5>
            <h3 class="card-title">{{ peca.preco | currency:'BRL':'symbol':'1.2-2' }} </h3>
          </div>
          <div class="card-footer text-center">
            <button class="btn mx-auto btn-roxo w-75" type="button" (click)="comprarPeca(peca.pecas_id)">
              COMPRAR
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
