$branco: #FFF;
$roxo: #6500E4;
$preto: #222;
$cinza: #525252;
$cinza_claro: #D2D2D2;

$linear: linear-gradient(90deg, #342A41, #6500E4);
$title: $preto;
$line_input: cinza_claro;
$text_input: $cinza;
$text: $cinza;
