$branco: #FFF;
$roxo: #6500E4;
$preto: #222;
$cinza: #525252;
$cinza_claro: #D2D2D2;

$linear: linear-gradient(to right, #342A41 0%, #6500e4 100%);
$title: $preto;
$line_input: cinza_claro;
$text_input: $cinza;
$text: $cinza;
