<div class="container">
  <h1 class="title text-center text-uppercase fw-bolder fs-1 my-5">Guia de Ajuda ao Cliente da Autoparts Store</h1>
  <h4 class="write-text text-center my-5">Bem-vindo à Autoparts Store, sua loja online confiável para todas as suas necessidades de peças de carros! Estamos aqui para tornar sua experiência de compra mais fácil e conveniente. Se você tiver alguma dúvida ou precisar de assistência, este guia está aqui para ajudar. Leia abaixo para encontrar respostas para suas perguntas mais frequentes.</h4>
</div>
<div class="container-fluid d-flex py-5">
  <section class="sec1">
    <h2 class="subtitle fs-3 fw-semibold">Navegação e Pesquisa</h2>
    <div class="p-3">
      <h3 class="topics">1. Como encontrar uma peça específica?</h3>
      <h5 class="write-text">Na página inicial, você pode usar a barra de pesquisa no topo da página para digitar o nome da peça ou o número da peça que está procurando. Os resultados da pesquisa mostrarão as opções disponíveis em nosso catálogo.</h5>
    </div>
    <h2 class="subtitle fs-3 fw-semibold">Escolha de Produtos</h2>
    <div class="p-3">
      <h3 class="topics">2. Como faço para saber se uma peça é compatível com o meu carro?</h3>
      <h5 class="write-text">Cada produto em nossa loja possui informações detalhadas sobre compatibilidade. Verifique a descrição do produto para encontrar informações sobre os modelos e anos de carro compatíveis. Além disso, nossa equipe de suporte está disponível para responder a perguntas específicas de compatibilidade.</h5>
      <h3 class="topics">3. O que devo fazer se eu receber uma peça defeituosa ou errada?</h3>
      <h5 class="write-text">Entre em contato conosco imediatamente. Estamos comprometidos em resolver qualquer problema relacionado à qualidade ou ao envio de nossos produtos. Nossa equipe de atendimento ao cliente irá ajudá-lo a fazer uma troca ou devolução.</h5>
    </div>
    <h2 class="subtitle fs-3 fw-semibold">Processo de Compra</h2>
    <div class="p-3">
      <h3 class="topics">4. Como faço para comprar um item?</h3>
      <h5 class="write-text">Ao encontrar o produto desejado, clique no botão "Comprar". Isso adicionará o item diretamente ao seu pedido, que você pode revisar antes de concluir a compra.</h5>
      <h3 class="topics">5. Como efetuar o pagamento?</h3>
      <h5 class="write-text">Aceitamos uma variedade de métodos de pagamento, incluindo cartões de crédito, débito e outras opções de pagamento online seguras. Você poderá escolher o método de pagamento preferido durante o processo de checkout, tornando-o rápido e simples.</h5>
    </div>
    <h2 class="subtitle fs-3 fw-semibold">Entrega e Rastreamento</h2>
    <div class="p-3">
      <h3 class="topics">6. Qual é o prazo de entrega?</h3>
      <h5 class="write-text">O prazo de entrega pode variar com base na sua localização e no método de envio escolhido. Durante o checkout, você verá as opções de envio disponíveis e as estimativas de entrega associadas a cada uma.</h5>
      <h3 class="topics">7. Como faço para rastrear meu pedido?</h3>
      <h5 class="write-text">Assim que o seu pedido for enviado, você receberá um e-mail com informações de rastreamento. Você também pode fazer login na sua conta para rastrear o status do seu pedido a qualquer momento.</h5>
    </div>
    <h2 class="subtitle fs-3 fw-semibold">Contato e Suporte</h2>
    <div class="p-3">
      <h3 class="topics">8. Como posso entrar em contato com o suporte ao cliente?</h3>
      <h5 class="write-text">Você pode entrar em contato conosco por meio do formulário de contato em nosso site, enviar um e-mail para <u>autopartsstore@gmail.com</u> ou ligar para o nosso número de atendimento ao cliente <u>(47) 9958-9867</u>. Estamos disponíveis para ajudá-lo com qualquer dúvida ou problema.</h5>
      <h3 class="topics">9. Qual é a política de devolução da Autoparts Store?</h3>
      <h5 class="write-text">Nossa política de devolução permite devoluções dentro de 7 dias úteis a partir da data de entrega. Para obter mais informações sobre como iniciar uma devolução, visite nossa página de Política de Devolução.</h5>
      <h5 class="write-text">Esperamos que este guia de ajuda ao cliente tenha respondido às suas perguntas e simplificado sua experiência de compra na Autoparts Store. Se você tiver alguma dúvida adicional, não hesite em nos contatar. Estamos aqui para ajudá-lo a encontrar as peças de carro de que você precisa.</h5>
      <h5 class="last-text text-center mt-5">Agradecemos por escolher a Autoparts Store como seu fornecedor de peças de carros!</h5>
      <h5 class="last-text text-center">Lembre-se de personalizar este guia de ajuda ao cliente com informações específicas da sua loja, como detalhes de contato, políticas de devolução e métodos de pagamento aceitos. Além disso, é importante manter este guia atualizado à medida que sua loja evolui e novas perguntas frequentes surgem.</h5>
    </div>
  </section>
<section class="container-fluid sec2 d-flex justify-content-around">
  <span class="row-vertical"></span>
  <div class="mx-5 px-5">
    <div class="container text-center my-5">
      <h1 class="title fs-2 fw-bolder">Contate-nos</h1>
      <div class="my-4">
        <i class="bi bi-phone icons"></i>
        <h3 class="icons-text my-3">(47) 9958-9867</h3>
        <h3 class="icons-text">(47) 9934-9889</h3>
      </div>
    </div>
    <div class="container text-center my-5">
      <div class="my-4">
        <i class="bi bi-envelope icons"></i>
        <h3 class="icons-text my-3">autopartsstore@gmail.com</h3>
      </div>
    </div>
    <div class="container text-center my-5">
      <div class="my-4">
        <i class="bi bi-geo-alt-fill icons"></i>
        <h3 class="icons-text my-3">SC, Gaspar 89111-009</h3>
      </div>
    </div>
    <div class="border-maps">
      <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d889.5258218191681!2d-49.010762495883355!3d-26.900216925713057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df223853d799cf%3A0xc4db8532562d9420!2sBorracharia%20Bela%20Vista!5e0!3m2!1spt-BR!2sbr!4v1693921084438!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
</div>
