@import '../../../../assets/scss/variaveis.scss';

.title {
  color: var(--preto);
  letter-spacing: 1px;
}

.sec1 {
  margin-left: 10%;
  width: 100%;
}

.sec2 {
  width: 50%;
}

.subtitle {
  color: var(--preto);
}

.write-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--cinza);
  text-align: justify;
}

.last-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--cinza);
}

.write-text::first-letter {
  margin-left: 2%;
}

.topics {
  color: var(--cinza-escuro);
  font-size: 20px;
  font-weight: 500;
}

.row-vertical {
  border-left: 2px solid var(--cinza-claro);
  height: 100%;
}

.icons {
  font-size: 140px;
  color: var(--cinza-escuro);
}

.icons-text {
  font-size: 20px;
  font-weight: 500;
  color: var(--cinza);
  text-decoration: underline;
}

.maps {
  height: 800px;
  width: 400px;
}

.border-maps {
  border: 2px solid var(--cinza);
  border-radius: 5px;
  height: 804px;
}
