$roxo-escuro: #380972 !important;
$roxo-claro: #6500E4 !important;
$branco: #FFFFFF !important;
$preto: #222222 !important;
$cinza: #7a7a7a !important;
$cinza-claro: #dadada !important;
$cinza-escuro: #525252 !important;
$linear: linear-gradient(to right, #342A41 0%, #6500E4 100%) !important;
$linear-corrente: linear-gradient(to right, #342A41 0%, #6500e4 51%, #342A41 100%) !important;
$linear-corrente-cinza: linear-gradient(to right, #555555 0%, #afafaf 51%, #555555 100%) !important;
$linear-corrente-amarelo: linear-gradient(to right, #d1a318 0%, #F6CE55 51%, #d1a318 100%) !important;
$linear-corrente-vermelho: linear-gradient(to right, #C63637 0%, #FF6961 51%, #C63637 100%) !important;
$linear-corrente-azul: linear-gradient(to right, #5086c1 0%, #84b6f4 51%, #5086c1 100%) !important;

.btn-roxo {
  background-image: $linear-corrente;
  background-size: 200% auto;
  transition: 500ms;
  color: $branco;
}

.btn-roxo:hover {
  background-position: right center;
}

.btn-cinza {
  background-image: $linear-corrente-cinza;
  background-size: 200% auto;
  transition: 500ms;
  color: $branco;
}

.btn-cinza:hover {
  background-position: right center;
}

.btn-amarelo {
  background-image: $linear-corrente-amarelo;
  background-size: 200% auto;
  transition: 500ms;
  color: $branco;
}

.btn-amarelo:hover {
  background-position: right center;
}

.btn-vermelho {
  background-image: $linear-corrente-vermelho;
  background-size: 200% auto;
  transition: 500ms;
  color: $branco;
}

.btn-vermelho:hover {
  background-position: right center;
}

.btn-azul {
  background-image: $linear-corrente-azul;
  background-size: 200% auto;
  transition: 500ms;
  color: $branco;
}

.btn-azul:hover {
  background-position: right center;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}

.btn-close:hover {
  color: $branco;
}

.cursor-btn {
  cursor: pointer;
}

.columns-list {
  color: $roxo-claro;
  font-weight: bold;
}

.line-list {
  color: $roxo-escuro;
}

.ajust-footer {
  min-height: 60vh;
  max-height: 100%;
}

.bg-roxo {
  background: $linear;
}

.table-border-roxo {
  border-right: 1px solid $roxo-claro;
  border-left: 1px solid $roxo-claro;
  border-radius: 100px;
}

.table-border-roxo td {
  border-color: $roxo-claro; /* Define a cor das bordas das células como vermelho */
}

.table-border-roxo tr:nth-child(even) td {
  background-color: white; /* Define a cor de fundo para linhas pares */
}

.table-border-roxo tr:nth-child(odd) td {
  background-color: white; /* Define a cor de fundo para linhas ímpares */
}

.table-border-roxo tr:first-child  {
  border-top: 1px solid $roxo-claro; /* Adiciona uma borda sólida cinza no topo das células da primeira linha */
}

.table-border-roxo tr:last-child {
  border-bottom: 1px solid $roxo-claro; /* Adiciona uma borda sólida cinza na parte inferior das células da última linha */
}

