@import '../../../scss/base/base.scss';
@import '../../../scss/base/rem-calc.scss';

.footer-nav {
  display: flex;
  background: $linear;
  align-items: center;
  height: rem-calc(350);
}

.footer-list {
  text-decoration: none;
  list-style: none;
}

.footer-text {
  color: $branco;
  font-size: rem-calc(16);
  margin-left: rem-calc(180);
}

.footer-text-sec {
  font-size: rem-calc(22);
  color: $branco;
  margin-left: rem-calc(200);
  margin-bottom: rem-calc(30);
}

.separe-row {
  margin-bottom: rem-calc(15);
}

.separe-row-contat {
  margin-bottom: rem-calc(65);
}

.separe-columns {
  display: flex;
}

.circle-svg {
  width: rem-calc(35);
  height: rem-calc(35);
  border-radius: 50%;
  background-color: $branco;
  margin: rem-calc(2);
  margin-top: rem-calc(125);
  margin-left: rem-calc(10);
  border: transparent;
}

.circle-svg img {
  cursor: pointer;
  margin-top: 22%;
}

.circle-svg:hover {
  transform: scale(1.2);
  transition: 500ms;
}

.row {
  position: absolute;
  height: rem-calc(0.5);
  width: 100%;
  background-color: $cinza_claro;
  color: transparent;
  margin-top: rem-calc(250);
}

.copyright {
  color: $branco;
  list-style: none;
  position: absolute;
  margin-top: rem-calc(305);
  margin-left: rem-calc(730);
  font-weight: 200;
  font-size: rem-calc(14);
  letter-spacing: rem-calc(1);
}
