<footer>
  <div class="footer-nav">
      <div class="separe-columns">
          <ul class="footer-list">
              <div>
                  <li class="footer-text">A durabilidade que você precisa e a <p class="separe-row">confiança que você merece</p></li>
                  <li class="footer-text"><p class="separe-row">@autoparts.com</p></li>
              </div>
          </ul>
      </div>
      <div class="separe-columns">
          <ul class="footer-list">
              <div>
                  <li class="footer-text-sec">Sobre nós</li>
                  <li class="footer-text"><p class="separe-row">Política de privacidade </p>
                      <p class="separe-row">Institucional</p>
                      <p class="separe-row">Carreira</p>
                      <p class="separe-row">Trabalhe conosco</p>
                  </li>
              </div>
          </ul>
      </div>
      <div class="separe-columns">
          <ul class="footer-list">
              <div>
                  <li class="footer-text-sec"><p class="separe-row-contat">Contate-nos</p></li>
                  <li class="footer-text">Atendimento das 7h às 22h, de segunda
                      <p>a sexta e das 8h às 20h
                      <p class="separe-row">sábados, domingos e feriados.</p>
                      <p class="separe-row">SAC <u>0800 647 2200</u></p>
                  </li>
              </div>
          </ul>
      </div>
      <div class="separe-columns">
          <ul class="footer-list">
              <div>
                  <li class="footer-text-sec">
                      <button class="circle-svg"><img src="assets/img/icon/facebook.svg"></button>
                      <button class="circle-svg"><img src="assets/img/icon/instagram.svg"></button>
                      <button class="circle-svg"><img src="assets/img/icon/linkedin.svg"></button>
                      <button class="circle-svg"><img src="assets/img/icon/twitter.svg"></button>
                  </li>
              </div>
          </ul>
      </div>
      <li class="row"></li>
      <li class="copyright">Copyright ® 2023 AutoParts Todos os direitos reservados</li>
  </div>
</footer>
