<nav class="navbar bg-body-tertiary bg-roxo-animado fixed">
  <div class="container-fluid">
    <a class="navbar-brand cursor-btn" (click)="linkClienteHome()"><img src="/assets/img/LogoBrancaSemFundo.png" class="navbar-logo" alt="">AutoParts Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-roxo-animado-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="/assets/img/LogoBrancaSemFundo.png" class="menu-logo" alt=""> AutoParts Store</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="linkClienteHome()">
              <i class="fa fa-house svg"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="linkClienteCatalogo()">
              <i class="bi bi-archive-fill svg"></i>
              Catálogo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="linkClienteCarrinho()">
              <i class="bi bi-basket-fill svg"></i>
              Carrinho
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="linkClienteSobre()">
              <i class="bi bi-bank2 svg"></i>
              Institucional
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="linkClientePerfil()">
              <i class="fa fa-user svg"></i>
              Perfil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="linkClienteAjuda()">
              <i class="bi bi-info-circle-fill svg"></i>
              Ajuda
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-content-end justify-content-around">
        <button class="btn-dark-light nav-link p-0 m-0" (click)="toggle()">
          <i class="bi {{ iconTheme }} fs-2"></i>
        </button>
        <button class="btn-logoff nav-link p-0 m-0">
          <i class="bi bi-box-arrow-right fs-2"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
