@import '../../../../assets/scss/variaveis.scss';


.p-title {
  font-size: 18px;
  font-weight: 800;
  color: $preto;
}

.subtitle {
  font-size: 17px;
  font-weight: 400;
  color: $cinza-escuro;
}

.form-check-input {
    margin-left: 0;
    margin-bottom: 1.2%;
    appearance: none;
    background-color: #ffffff;
    color: #D2D2D2;
    width: 20px;
    height: 20px;
    border: 1px solid currentColor;
    border-radius: 4px;
    transform: translateY(-0.075em);
}

.form-check-input:before {
    appearance: none;
    content: "\2713";
    color: #460a8f;
    position: absolute;
    padding-left: 10%;
    left: 2px;
    transform: scale(0);
    border-radius: 4px;
    transition: 300ms transform ease-in-out;
    box-shadow: inset 1px 1px var(--container-color);
}

.form-control:not(:placeholder-shown) {
  transition: 2s;
  border: 1px solid #460a8f;
  color: #460a8f !important;
}
