<form>
  <h1>Pessoais</h1>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="CPF">
        <label for="floatingInput">CPF</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nome">
        <label for="floatingInput">Nome</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
        <label for="floatingInput">Email</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="Senha">
        <label for="floatingInput">Senha</label>
      </div>
    </div>
  </div>

  <h1>Endereço</h1>
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="CEP">
        <label for="floatingInput">CEP</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Estado">
        <label for="floatingInput">Estado</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Cidade">
        <label for="floatingInput">Cidade</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Bairro">
        <label for="floatingInput">Bairro</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Rua">
        <label for="floatingInput">Rua</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Número">
        <label for="floatingInput">Número</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Complemento">
        <label for="floatingInput">Complemento</label>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">Button</button>
  </div>
</form>
