@import '../../../../assets/scss/variaveis.scss';

.p-title {
    font-size: 18px;
    font-weight: 800;
    color: $preto;
}

.subtitle {
    font-size: 17px;
    font-weight: 400;
    color: $cinza-escuro;
}
