@import '../../../../assets/scss/variaveis.scss';

.p-title {
    font-size: 18px;
    font-weight: 800;
    color: var(--preto);
}

.subtitle {
    font-size: 17px;
    font-weight: 400;
    color: var(--cinza-escuro);
}

.form-control {
  background-color: var(--branco);
}

.form-control:not(:placeholder-shown) {
  transition: 2s;
  border: 1px solid var(--roxo-claro);
  color: var(--roxo-claro) !important;
}

.terms {
  font-size: 16px;
  font-weight: 400;
  color: var(--cinza-escuro);
}

.cursor-pointer {
  cursor: pointer;
}
