<div class="container w-50 mb-5">
  <div class="row d-flex justify-content-center">
    <img src="/assets/img/LogoSemFundo.png" class="w-25 h-25 mb-3" alt="">
    <p class="p-title text-center mb-2">TORNE-SE UM <br>CONSUMIDOR AUTOPARTS</p>
    <p class="subtitle text-center mb-5">Crie sua conta em nossa Loja e <br>obtenha acesso aos melhores produtos <br>automotivos com qualidade e garantia</p>
  </div>
  <form #clienteForm="ngForm" (ngSubmit)="cadastrar()">

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="alert alert-success" role="alert" *ngIf="sucessoFeedback">
          Cliente salvo/atualizado com sucesso
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback">
          {{ errorsFeedback }}
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="cliente.cpf" name="cpf" class="form-control" id="floatingInput" placeholder="CPF">
          <label for="floatingInput">CPF</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="cliente.nome" name="nome" class="form-control" id="floatingInput"
            placeholder="Nome">
          <label for="floatingInput">Nome</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="email" [(ngModel)]="cliente.email" name="email" class="form-control" id="floatingInput"
            placeholder="nome@exemplo.com">
          <label for="floatingInput">Email</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="cliente.senha" name="senha" class="form-control" id="floatingInput"
            placeholder="Senha">
          <label for="floatingInput">Senha</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-3">
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="cliente.endereco.cep" name="cep" class="form-control" id="floatingInput"
            placeholder="CEP">
          <label for="floatingInput">CEP</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-floating mb-3">
          <select class="form-control" [ngModelOptions]="{ standalone: true }" [(ngModel)]="cliente.endereco.estado">
            <option value="">Selecione</option>
            <option *ngFor="let estado of estados" [ngValue]="estado">
              {{ estado }}
            </option>
          </select>
          <label for="floatingInput">Estado</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="cliente.endereco.cidade" name="cidade" class="form-control" id="floatingInput"
            placeholder="Cidade">
          <label for="floatingInput">Cidade</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="cliente.endereco.bairro" name="bairro" class="form-control" id="floatingInput"
            placeholder="Bairro">
          <label for="floatingInput">Bairro</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="cliente.endereco.rua" name="rua" class="form-control" id="floatingInput"
            placeholder="Rua">
          <label for="floatingInput">Rua</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="cliente.endereco.numero" name="numero" class="form-control"
            id="floatingInput" placeholder="Número">
          <label for="floatingInput">Número</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="cliente.endereco.complemento" name="complemento" class="form-control"
            id="floatingInput" placeholder="Complemento">
          <label for="floatingInput">Complemento</label>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <button class="btn btn-roxo w-100 text-uppercase" type="submit">
          Criar conta
        </button>
      </div>
    </div>
  </form>
</div>
