@import '../../../../assets/scss/variaveis.scss';

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.alignment {
    display: grid;
    justify-content: center;
}

.title {
    color: var(--preto);
}

.form-control:not(:placeholder-shown) {
    transition: 2s;
    border: 1px solid var(--roxo-claro);
    color: var(--roxo-claro) !important;
}

.col-2 {
    display: grid;
    width: 100%;
}

.btn {
    width: 80%;
}

.form-control {
    background: var(--branco);
  }
  
  .form-label {
    color: var(--cinza-escuro);
  }

