<header>
  <nav class="nav-bar">
    <div>
      <img src="Img/Logo.png" class="logo" alt="Logo AutoParts">
    </div>
    <div class="nav-list">
      <ul>
        <li class="nav-items"><a class="nav-link" href="/">Ajuda</a></li>
        <li class="nav-items"><a class="nav-link" href="/">|</a></li>
        <li class="nav-items"><a class="nav-link" href="/">Entrar</a></li>
        <li class="nav-items"><a class="nav-link" href="/">|</a></li>
        <li class="nav-items"><a class="nav-link" href="/">Cadastre-se</a></li>
      </ul>
    </div>
  </nav>
  <nav class="sec-nav-bar">
    <div class="sec-nav-list">
      <img class="shape" src="Img/Shape.svg">
      <div>
        <span class="input-group-addon"><img class="search-lupa" src="Img/Search.svg"></span>
        <input type="search" placeholder="Buscar" class="search">
        <button class="search-close"><img src="Img/Close.svg"></button>
      </div>
      <ul>
        <li class="sec-nav-items"><a class="sec-nav-link" href="/">Home</a></li>
        <li class="sec-nav-items"><a class="sec-nav-link" href="/">Institucional</a></li>
        <li class="sec-nav-items"><a class="sec-nav-link" href="/">Produtos</a></li>
      </ul>
      <div class="kart-favorite">
        <button class="kart"><img src="Img/Shopping-Kart.svg"></button>
        <button class="favorite"><img src="Img/Hearth.svg"></button>
      </div>
    </div>
  </nav>
</header>
