<header>
  <nav class="nav-bar">
      <div>
          <img src="Img/Logo.png" class="logo" alt="Logo AutoParts">
      </div>
      <div class="nav-list">
          <ul>
              <li class="nav-items"><a class="nav-link" href="/">Ajuda</a></li>
              <li class="nav-items"><a class="nav-link" href="/">|</a></li>
              <li class="nav-items"><a class="nav-link" href="/">Entrar</a></li>
              <li class="nav-items"><a class="nav-link" href="/">|</a></li>
              <li class="nav-items"><a class="nav-link" href="/">Cadastre-se</a></li>
          </ul>
      </div>
  </nav>
  <nav class="sec-nav-bar">
      <div class="sec-nav-list">
          <ul>
              <li class="sec-nav-items"><a class="sec-nav-link" href="/">Confiabilidade</a></li>
              <li class="sec-nav-items"><a class="sec-nav-link" href="/">Segurança</a></li>
              <li class="sec-nav-items"><a class="sec-nav-link" href="/">Agilidade</a></li>
              <li class="sec-nav-items"><a class="sec-nav-link" href="/">Experiência</a></li>
          </ul>
      </div>
  </nav>
</header>
