@import '../../../scss/base/base.scss';
@import '../../../scss/base/rem-calc.scss';

.logo {
  margin-top: rem-calc(5);
  margin-left: rem-calc(10);
  width: rem-calc(27);
  height: rem-calc(27);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.1%;
  background: $branco;
  height: rem-calc(34);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-items {
  margin: rem-calc(5);
}

.nav-link {
  text-decoration: none;
  font-size: rem-calc(11);
  margin-right: rem-calc(5);
  font-weight: 600;
  color: $roxo;
}

.sec-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.1%;
  height: rem-calc(57);
  background: $linear;
}

.sec-nav-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.sec-nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.sec-nav-items {
  margin: rem-calc(15);
}

.sec-nav-link {
  color: $branco;
  text-decoration: none;
  font-size: rem-calc(14);
  font-weight: 300;
  letter-spacing: rem-calc(0.9);
}

.sec-nav-link:hover {
  display: flex;
  transition: 400ms;
  transform: scale(1.2);
}
