@import '../../../../assets/scss/variaveis.scss';

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--roxo-claro);
}

.search {
    background: var(--branco) !important;
    color: var(--preto);
  }
  
  .search::placeholder {
    color: var(--cinza-escuro);
  }
  