
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>Cargo</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <td> {{ funcionario.funcionario_id}} </td>
            <td> {{ funcionario.nome}} </td>
            <td> {{ funcionario.email}} </td>
            <td> {{ funcionario.cargoFuncionario}} </td>
            <td>
              <button type="button" class="btn btn-primary">
                <i class="fa-solid fa-trash"></i>
              </button>
              <button type="button" class="btn btn-primary">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button type="button" class="btn btn-primary">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
