<div class="container ajust-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <button class="btn btn-roxo mx-5 my-2 w-100" (click)="novoCadastroFornecedor()">
            <i class="fa fa-plus pe-1"></i>
            Novo
          </button>
        </div>
      </div>
      <table class="table table-border-roxo table-font-roxo table-hover align-middle text-start">
        <thead>
          <tr>
            <td class="col columns-list">Id</td>
            <td class="col columns-list">Nome</td>
            <td class="col columns-list">CNPJ</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let fornecedor of fornecedores; let i = index">
            <td> {{ i + 1 }} </td>
            <td> {{ fornecedor.nome}} </td>
            <td> {{ fornecedor.cnpj}} </td>
            <td class="d-flex justify-content-end">
              <button type="button" class="btn btn-vermelho mx-4 px-4" data-bs-toggle="modal" data-bs-target="#modalDelecao" (click)="preparaDelecao(fornecedor)">
                <i class="fa-solid fa-trash"></i>
              </button>
              <button type="button" class="btn btn-amarelo mx-4 px-4" (click)="editarFornecedor(fornecedor.fornecedor_id)">
                <i class="fa-solid fa-pen"></i>
              </button>
              <button type="button" class="btn btn-azul mx-4 px-4">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação de Deleção</h4>
        </div>
        <div class="modal-body" *ngIf="fornecedorSelecionado">
          Confirmar a deleção de {{ fornecedorSelecionado.nome }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-roxo" (click)="deletarFuncionario()" data-bs-dismiss="modal">Confirmar</button>
          <button class="btn btn-vermelho" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>
