<div class="container d-flex pb-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/funcionarioImg.webp" class="card-img-top card-img" alt="Imagem de funcionário">
        <div class="card-body">
          <h5 class="card-title">Funcionário</h5>
          <p class="card-text">Nossa equipe de funcionários na AutoParts Store é o alicerce do nosso sucesso, dedicada a oferecer o melhor atendimento e conhecimento no setor automotivo.</p>
          <button class="btn btn-roxo" (click)="linkListaFuncionario()">Acessar painel de Funcionário</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/produtoImg.jpg" class="card-img-top card-img" alt="Imagem do produto">
        <div class="card-body">
          <h5 class="card-title">Produto</h5>
          <p class="card-text">AutoParts Store oferece uma ampla gama de peças de reposição automotivas de alta qualidade para atender às necessidades de nossos clientes apaixonados por carros.</p>
          <button class="btn btn-roxo" (click)="linkListaProduto()">Acessar painel de Produto</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/clienteImg.jpg" class="card-img-top card-img" alt="Imagem de cliente">
        <div class="card-body">
          <h5 class="card-title">Cliente</h5>
          <p class="card-text">Nossos clientes são o motor que impulsiona a AutoParts Store, e estamos comprometidos em superar suas expectativas, fornecendo as melhores peças e serviços automotivos.</p>
          <button class="btn btn-roxo" (click)="linkListaCliente()">Acessar painel de Cliente</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../../assets/img/fornecedorImg.jpg" class="card-img-top card-img" alt="Imagem de fornecedor">
        <div class="card-body">
          <h5 class="card-title">Fornecedor</h5>
          <p class="card-text">Conheça nossos confiáveis parceiros fornecedores, garantindo que sempre tenhamos as melhores peças automotivas para atender nossos clientes na AutoParts Store.</p>
          <button class="btn btn-roxo" (click)="linkListaFornecedor()">Acessar painel de Fornecedor</button>
        </div>
      </div>
    </div>
  </div>  
</div>