

<div class="container mb-5 mt-4">
  <div class="row d-flex justify-content-center">
    <img src="/assets/img/LogoSemFundo.png" class="w-25 h-25 mb-3" alt="">
    <p class="p-title text-center">SUA CONTA</p>
    <p class="p-title text-center mb-4">AUTOPARTS</p>
  </div>
  <form #pessoaForm="ngForm" (ngSubmit)="login()">

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback" >
          {{ errorsFeedback }}
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="email" [(ngModel)]="pessoa.email" name="email" class="form-control" id="floatingInput" placeholder="Email">
          <label for="floatingInput" class="form-label">Email</label>
        </div>
      </div>
    </div>



    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="password" name="senha" [(ngModel)]="pessoa.senha" class="form-control" id="floatingInput"
            placeholder="Senha">
          <label for="floatingInput" class="form-label">Senha</label>
        </div>
      </div>
    </div>


    <div class="row d-flex justify-content-center my-3">
      <div class="col-3 w-50 text-center">
        <p class="terms">
          <label class="form-check-label" for="flexRadioDefault1">
            <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1" [value]="true">
            Ao fazer login, você concorda com a
            <u class="linkPointer" data-bs-toggle="modal" data-bs-target="#modalPrivacidade"><strong> Política <br> de Privacidade </strong></u> e os
            <u class="linkPointer" data-bs-toggle="modal" data-bs-target="#modalTermos"><strong>Termos de Uso da <br> AutoParts Store.</strong></u>
          </label>
        </p>
      </div>
    </div>



    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <button class="btn btn-roxo w-100 text-uppercase" type="submit">
          Logar
        </button>
      </div>
    </div>

  </form>

    <div class="row d-inline justify-content-center">
      <div class="col-3 w-100 text-center">
        <a class="terms cursor-pointer" (click)="linkClienteCadastro()">Não é um membro? <u><strong>Junte-se a nós</strong></u></a>
      </div>
    </div>

    <div id="modalPrivacidade" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="titulo">POLÍTICA DE PRIVACIDADE DA AUTOPARTS STORE</h4>
          </div>
          <div class="modal-body">
            <p class="pTextoJusti">A sua privacidade é importante para nós na AutoParts Store. Esta Política de Privacidade descreve como coletamos, usamos, compartilhamos e protegemos as suas informações pessoais quando você utiliza os nossos serviços. Ao utilizar os nossos serviços, você concorda com os termos desta Política de Privacidade. Caso não concorde com eles, por favor, não utilize os nossos serviços.</p>
            <ol>
              <li>
                <p class="titulo pTextoJusti">Informações que Coletamos</p>
                <p class="pTextoJusti">1.1. Informações de Registro: Quando você cria uma conta, pode ser necessário fornecer informações como nome, endereço de e-mail, e outros detalhes de contato.</p>
                <p class="pTextoJusti">1.2. Informações de Compra: Coletamos informações sobre as compras que você faz na AutoParts Store, incluindo os produtos que você adquire e os métodos de pagamento utilizados.</p>
                <p class="pTextoJusti">1.3. Informações de Uso: Registramos informações sobre como você utiliza o nosso site e aplicativo, incluindo páginas visitadas, ações tomadas e datas e horários das atividades.</p>
                <p class="pTextoJusti">1.4. Informações de Dispositivo: Coletamos informações sobre o seu dispositivo, como tipo de dispositivo, sistema operacional, endereço IP e identificadores exclusivos.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Uso das Informações</p>
                <p class="pTextoJusti">2.1. Utilizamos as informações coletadas para fornecer, manter e melhorar os nossos serviços, incluindo o processamento de compras, o atendimento ao cliente e o desenvolvimento de novos recursos.</p>
                <p class="pTextoJusti">2.2. Utilizamos as informações para personalizar a sua experiência, oferecendo recomendações de produtos e conteúdo direcionado com base no seu perfil e comportamento.</p>
                <p class="pTextoJusti">2.3. Utilizamos as informações para fins de marketing, como envio de comunicações de marketing e promoções, desde que você tenha consentido em receber essas mensagens.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Compartilhamento de Informações</p>
                <p class="pTextoJusti">3.1. Não vendemos, alugamos ou compartilhamos as suas informações pessoais com terceiros para fins de marketing direto.</p>
                <p class="pTextoJusti">3.2. Compartilhamos informações com prestadores de serviços que nos auxiliam na operação dos nossos serviços, como processamento de pagamentos, envio de produtos e análise de dados.</p>
                <p class="pTextoJusti">3.3. Podemos compartilhar informações para cumprir obrigações legais, proteger os direitos e a segurança da AutoParts Store e dos nossos usuários, e investigar atividades fraudulentas ou ilegais.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Proteção de Informações</p>
                <p class="pTextoJusti">4.1. Implementamos medidas de segurança para proteger as suas informações contra perda, roubo, acesso não autorizado e uso indevido.</p>
                <p class="pTextoJusti">4.2. No entanto, lembre-se de que nenhum método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro, e não podemos garantir a segurança absoluta das informações.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Acesso e Controle das Suas Informações</p>
                <p class="pTextoJusti">5.1. Você pode acessar e atualizar as suas informações pessoais na sua conta da AutoParts Store.</p>
                <p class="pTextoJusti">5.2. Você pode optar por receber comunicações de marketing ou cancelar a assinatura a qualquer momento.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Alterações nesta Política de Privacidade</p>
                <p>7.1. Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente. Quaisquer alterações significativas serão comunicadas através dos nossos serviços.</p>
              </li>
            </ol>
            <p class="pTextoJusti">Agradecemos por escolher a AutoParts Store e confiar em nós para proteger as suas informações pessoais. Estamos comprometidos em manter a sua privacidade e proporcionar a melhor experiência possível.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-roxo" data-bs-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

    <div id="modalTermos" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="titulo">TERMOS DE USO DA AUTOPARTS STORE</h4>
          </div>
          <div class="modal-body">
            <p>Bem-vindo à AutoParts Store. Antes de utilizar nossos serviços, por favor, leia atentamente os seguintes termos de uso. Ao acessar ou usar o nosso site, aplicativo móvel, ou quaisquer outros serviços oferecidos pela AutoParts Store (doravante referidos como "nós", "nosso" ou "nos"), você concorda em cumprir estes termos. Se você não concordar com estes termos, por favor, não utilize nossos serviços.</p>
            <ol>
              <li>
                <p class="titulo pTextoJusti">Uso dos Nossos Serviços</p>
                <p class="pTextoJusti">1.1. Você deve ter pelo menos 18 anos de idade ou a idade de maioridade em sua jurisdição para usar nossos serviços.</p>
                <p class="pTextoJusti">1.2. Você concorda em usar nossos serviços somente para fins legais e de acordo com todas as leis e regulamentos aplicáveis.</p>
              </li>
              <li>
                <p>Cadastro de Conta</p>
                <p class="pTextoJusti">2.1. Você pode ser obrigado a criar uma conta para acessar certos recursos dos nossos serviços.</p>
                <p class="pTextoJusti">2.2. Você é responsável por manter a confidencialidade de suas credenciais de conta e por todas as atividades que ocorrem em sua conta.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Política de Privacidade</p>
                <p class="pTextoJusti">3.1. Nós coletamos, usamos e compartilhamos informações de acordo com nossa Política de Privacidade. Ao usar nossos serviços, você concorda com as práticas de coleta e uso de informações descritas na nossa Política de Privacidade.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Condições de Compra</p>
                <p class="pTextoJusti">4.1. Ao comprar produtos em nossa loja, você concorda em fornecer informações precisas e atualizadas.</p>
                <p class="pTextoJusti">4.2. Você concorda em pagar os preços e taxas aplicáveis, conforme estabelecido em nosso site.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Política de Devolução e Reembolso</p>
                <p class="pTextoJusti">5.1. Consulte nossa política de devolução e reembolso em nosso site para obter informações sobre como lidamos com devoluções e reembolsos.</p>
              </li>
              <li>
                <p class="titulo pTextoJusti">Lei Aplicável</p>
                <p class="pTextoJusti">6.1. Estes termos são regidos pelas leis do Brasil, e qualquer disputa relacionada a estes termos será resolvida nos tribunais competentes do Brasil.</p>
              </li>
            </ol>
            <p class="pTextoJusti">Ao utilizar os serviços da AutoParts Store, você concorda em cumprir integralmente estes termos. Obrigado por escolher a AutoParts Store.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-roxo" data-bs-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>


</div>
