@import "../../../../assets/scss/variaveis.scss";

.container {
  width: 40%;
}

.p-title {
  font-size: 25px;
  font-weight: 800;
  color: var(--preto);
}

.terms {
  font-size: 16px;
  font-weight: 400;
  color: var(--cinza-escuro);
}

.cursor-pointer {
  cursor: pointer;
}

.form-check-input {
  margin-left: 0;
  margin-bottom: 1.2%;
  appearance: none;
  background-color: var(--branco);
  color: var(--cinza);
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 4px;
  transform: translateY(-0.075em);
}

.form-check-input:before {
  appearance: none;
  content: "\2713";
  color: var(--roxo-claro);
  position: absolute;
  padding-left: 10%;
  left: 2px;
  transform: scale(0);
  border-radius: 4px;
  transition: 300ms transform ease-in-out;
  box-shadow: inset 1px 1px var(--container-color);
}

.form-check-input:hover {
  border: 1px solid var(--roxo-claro);
}

.form-check-input:checked::before {
  transform: scale(1);
}

.form-label {
  color: var(--cinza-escuro);
}