@import '../../../../assets/scss/variaveis.scss';

.full-page {
    min-height: 50vh;
}

.title {
    font-weight: 500;
}

.subtitle {
    font-weight: 400;
    color: var(--cinza);
}

.row-hr {
    border: 1px solid var(--cinza-claro);
}

.btn {
    border-radius: 20px;
}

.img-peca {
    min-width: 200px;
    max-width: 200px;
    border-right: 2px solid var(--cinza-claro);
}

.item-carrinho {
    border: 2px solid var(--cinza-claro);
    border-radius: 1%;
}

.title-item {
    color: var(--preto);
}

.desc-item {
    color: var(--cinza-escuro);
}

.prec-item {
    color: var(--cinza);
}