<div class="container mt-5 pt-2 d-flex full-page">
  <section class="col-8 mb-5">
    <div class="container">
      <h1 class="title px-4 fs-3">Carrinho</h1>
      <hr class="row-hr">
    </div>
    <div *ngFor="let peca of pecas; let i = index" class="d-flex item-carrinho my-2 mx-4">
      <img class="img-peca" data-options="zoomPosition:inner;hint:off;" *ngIf="peca.base64" [src]="getFotoUrl(peca)" alt="Foto da Peça"/>
      <div class="mx-4 my-2">
        <h1 class="title-item">{{ peca.nome }}</h1>
        <h2 class="desc-item">{{ peca.descricao }}</h2>
        <h4 class="prec-item">{{ peca.preco | currency:'BRL':'symbol':'1.2-2' }}</h4>
        <button class="btn btn-roxo" (click)="removeCarrinho(i)"><i class="bi bi-trash3-fill"></i></button>
      </div>
    </div>
  </section>
  <section class="col">
    <div>
      <h1 class="title fs-4">Seu Pedido</h1>
      <hr class="row-hr">
      <div class="d-flex justify-content-around">
        <p class="subtitle fs-6 pt-2">Total</p>
        <p class="subtitle fs-6 pt-2">{{ precoTotal | currency:'BRL':'symbol':'1.2-2' }}</p>
      </div>
    </div>
    <hr class="row-hr">
    <div class="row d-flex justify-content-center">
      <div class="px-5">
        <button class="btn btn-roxo w-100 text-uppercase p-2" type="submit" (click)="pagamento()">
          Comprar
        </button>
      </div>
    </div>
  </section>
</div>
