<div class="container mt-5 pt-2 d-flex">
  <section class="separate1">
    <div class="container">
      <h1 class="title px-4 fs-3">Carrinho</h1>
      <hr class="row-hr">
    </div>
    <div *ngFor="let peca of pecas" class="d-flex item-carrinho">
      <img class="img-peca mx-5" data-options="zoomPosition:inner;hint:off;" *ngIf="peca.base64" [src]="getFotoUrl(peca)" alt="Foto da Peça"/>
      <div>
        <h1>{{ peca.nome }}</h1>
        <h2>{{ peca.descricao }}</h2>
        <h4>{{ peca.preco }}</h4>
      </div>
    </div>
  </section>
  <section class="separate2">
    <div>
      <h1 class="title p-3 fs-4">Seu Pedido</h1>
      <div class="d-inline">
        <p class="subtitle fs-6 px-4 py-2">Subtotal</p>
      </div>
      <div class="d-inline">
        <p class="subtitle fs-6 px-4 py-2">Entrega</p>
      </div>
      <hr class="row-hr">
      <div class="d-inline">
        <p class="subtitle fs-6 px-4 py-2">Total</p>
      </div>
    </div>
    <hr class="row-hr">
    <div class="row d-flex justify-content-center">
      <div class="px-5">
        <button class="btn btn-roxo w-100 text-uppercase p-2" type="submit">
          Comprar
        </button>
      </div>
    </div>
    {{ carrinho | json }}
  </section>
</div>