@import '../../../../assets/scss/variaveis.scss';

.full-page {
    min-height: 50vh;
}

.title {
    font-weight: 500;
}

.subtitle {
    font-weight: 400;
    color: $cinza;
}

.row-hr {
    border: 1px solid $cinza-claro;
}

.btn {
    border-radius: 20px;
}

.img-peca {
    min-width: 200px;
    max-width: 200px;
    border-right: 2px solid $cinza-claro;
}

.item-carrinho {
    border: 2px solid $cinza-claro;
    border-radius: 1%;
}

.title-item {
    color: $preto;
}

.desc-item {
    color: $cinza-escuro;
}

.prec-item {
    color: $cinza;
}