<div class="container" *ngIf="funcionarioDetalhado">
  <div class="col mt-5 mb-5">
    <div class="text text-center text-uppercase bg-roxo-animado">
      <h1 class="fw-bold fs-2">
        Detalhes do cliente {{funcionarioDetalhado.nome}}
      </h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" [(ngModel)]="funcionarioDetalhado.cpf" name="cpf" class="form-control" id="floatingInput"
          placeholder="CPF" mask="000.000.000-00" disabled>
        <label for="floatingInput" class="floatText">CPF</label>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" [(ngModel)]="funcionarioDetalhado.nome" name="nome" class="form-control" id="floatingInput"
          placeholder="Nome" disabled>
        <label for="floatingInput">Nome</label>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="email" [(ngModel)]="funcionarioDetalhado.email" name="email" class="form-control" id="floatingInput"
          placeholder="nome@exemplo.com" disabled>
        <label for="floatingInput">Email</label>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" [(ngModel)]="funcionarioDetalhado.senha" name="senha" class="form-control" id="floatingInput"
          placeholder="Senha" disabled>
        <label for="floatingInput">Senha</label>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="funcionarioDetalhado.tipoPessoa" type="radio"
          name="flexRadioDefault" id="flexRadioDefault1" [value]="'GERENTE'" disabled>
        <label class="form-check-label mt-1 ps-2" for="flexRadioDefault1">
          Gerente
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="funcionarioDetalhado.tipoPessoa" type="radio"
          name="flexRadioDefault" id="flexRadioDefault2" [value]="'FUNCIONARIO'" disabled>
        <label class="form-check-label my-1 ps-2" for="flexRadioDefault2">
          Funcionário
        </label>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-6">
      <button type="button" class="btn btn-cinza ml-1 w-100" (click)="voltarListagem()">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Voltar
      </button>
    </div>
  </div>

</div>
