<div class="info">
    <div class="data">
        <form class="formatt">
            <span class="data-text">Dados</span>
            <input placeholder="Nome" class="text-info">
            <input placeholder="Email" class="text-info">
            <input type="password" placeholder="Senha" class="text-info">
            <button type='submit' class="button">
                <span class="button-text">ALTERAR DADOS</span>
            </button>
        </form>
    </div>
    <div class="address">
        <form class="formatt">
            <span class="address-text">Endereço</span>
            <input placeholder="CEP" class="text-info">
            <input placeholder="Estado" class="text-info">
            <input placeholder="Cidade" class="text-info">
            <input placeholder="Bairro" class="text-info">
            <input placeholder="Rua" class="text-info">
            <input placeholder="Número" class="text-info">
            <input placeholder="Complemento" class="text-info">
            <button type='submit' class="button">
                <span class="button-text">ALTERAR ENDEREÇO</span>
            </button>
        </form>
    </div>
</div>