<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="sucessoFeedback">
          Fornecedor salvo/atualizado com sucesso
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback">
          {{ errorsFeedback }}
        </div>
      </div>
    </div>
    <h1>Pessoais</h1>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input type="number" [(ngModel)]="fornecedor.cnpj" name="cpf" class="form-control" id="floatingInput"
            placeholder="CPF">
          <label for="floatingInput">CNPJ</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text" [(ngModel)]="fornecedor.nome" name="nome" class="form-control" id="floatingInput"
            placeholder="Nome">
          <label for="floatingInput">Nome</label>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit" *ngIf="!fornecedor.fornecedor_id">
        <i class="fa fa-save"></i>
        Cadastrar
      </button>
      <button type="submit" class="btn btn-warning" *ngIf="fornecedor.fornecedor_id">
        <i class="fa fa-sync-alt"></i>
        Atualizar
      </button>
      <button type="button" class="btn btn-danger ml-1" (click)="voltarListagem()">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Voltar
      </button>
    </div>
  </form>

  {{ fornecedor | json }}

</div>
