@import '../../../../assets/scss/variaveis.scss';

.bg-gradiente{
  color: $branco;
  font-weight: 600;
  background: $linear;
}

.separate{
  width: 80%;
}

.img-mec{
  height: 440px;
  border-radius: 30px;
}

.sec-column {
  width: 80%;
}

.img-logo{
  height: 280px;
  width: 290px;
  margin: 0 auto;
}

.title-sobre {
  font-weight: 500;
  color: $cinza-escuro;
}

.text-sobre {
  justify-content: center;
  font-size: 16px;
  color: $cinza;
  text-align: justify;
  width: 100%;
}

.text-sobre::first-letter , p::first-letter {
  margin-left: 5%;
}
