@import '../../../../assets/scss/variaveis.scss';

.bg-gradiente{

  font-weight: 900;

}

.separate{
  width: 50%;
}

.img-mec{
  height: 440px;
  border-radius: 30px;
}

.sec-column {
  width: 80%;
}

.img-logo{
  height: 200px;
  width: 230px;
  margin: 0 auto;
}

.title-sobre {
  font-weight: 500;
  color: $cinza-escuro;
}

.text-sobre {
  justify-content: center;
  font-size: 16px;
  color: $cinza;
  text-align: justify;
  width: 100%;
}

.text-sobre::first-letter , p::first-letter {
  margin-left: 5%;
}

/* Exemplo de estilização para um título */
.titulo {
  font-size: 28px; /* Tamanho da fonte */
 font-weight: bold; /* Peso da fonte (negrito) */
  color: $branco; /* Cor do texto */
  margin-top: 10px; /* Margem superior */
  margin-bottom: 20px; /* Margem inferior */
  text-align: center; /* Alinhamento do texto */
  text-transform: uppercase; /* Transformação de texto (maiúsculas) */
  letter-spacing: 2px; /* Espaçamento entre letras */
  line-height: 1.2; /* Altura da linha */
  /* Outras propriedades de estilização, como font-family, text-decoration, etc. */
}
.fs-4{
  font-size: 28px; /* Tamanho da fonte */
  font-weight: bold; /* Peso da fonte (negrito) */
  letter-spacing: 2px; /* Espaçamento entre letras */
  text-transform: uppercase; /* Transformação de texto (maiúsculas) */
  margin-bottom: 40px; /* Margem inferior */
  color: $branco;
}
