<div class="container-fluid p-0">
  <section class="container-fluid p-0 start-page">
    <div class="met-page p-5 bg-pri-sec">
      <h1 class="pt-5 ms-5">Bem-vindos à AutoParts Store!</h1>
      <h5 class="pt-5 p-2 ms-5">Na AutoParts Store, a qualidade é nossa prioridade número um. Cada peça em nosso estoque é cuidadosamente selecionada para garantir que atenda aos mais altos padrões da indústria automotiva. Você pode confiar em nós para fornecer peças confiáveis e duradouras.</h5>
      <a type="button" class="btn btn-get-in m-5" href="./cliente/sobre">
        Sobre nós
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
    <div class="met-page">
      <img src="/assets/img/Image-Home1.jpg" class="img-home1" alt="">
    </div>
  </section>
  <section>
    <div class="container position-relative mb-5">
      <h1 class="title-experience text-center mt-5 fs-2">Experiência Personalizada: Nosso Atendimento Especializado para Você</h1>
      <h2 class="subtitle-experience fs-2">Atendimento Especializado</h2>
      <h4 class="text-experience fs-8">Nossa equipe de especialistas automotivos está pronta para ajudar. Se você tiver dúvidas sobre qual peça escolher ou como fazer uma instalação, não hesite em nos perguntar. Estamos aqui para orientá-lo em cada etapa do processo.</h4>
      <img src="/assets/img/Image-Home2.png" class="img-experience" alt="">
      <img src="/assets/img/Balls.svg" class="img-balls" alt="">
    </div>
    <hr class="line ms-5 me-5">
  </section>
  <section>
    <div>

    </div>
  </section>
</div>
