<div class="container-fluid m-0 p-0">
  <section class="start-page">
    <div class="met-page p-5 bg-pri-sec">
      <h1 class="pt-5">Lorem Ipsum is simply dummy text of the printing and.</h1>
      <h5 class="pt-5 p-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h5>
      <button type="button" class="btn btn-get-in m-5">
        Get in touch
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    <div class="met-page">
      <img src="/assets/Img/Image-Home1.jpg" class="img-home1" alt="">
    </div>
  </section>
</div>