<div class="container-fluid m-0 p-0 mb-5">
  <section class="start-page">
    <div class="met-page p-5 bg-pri-sec">
      <h1 class="pt-5 ms-5">Bem-vindos à AutoParts Store!</h1>
      <h5 class="pt-5 p-2 ms-5">Na AutoParts Store, a qualidade é nossa prioridade número um. Cada peça em nosso estoque é cuidadosamente selecionada para garantir que atenda aos mais altos padrões da indústria automotiva. Você pode confiar em nós para fornecer peças confiáveis e duradouras.</h5>
      <button type="button" class="btn btn-get-in m-5">
        Sobre nós
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    <div class="met-page">
      <img src="/assets/img/Image-Home1.jpg" class="img-home1" alt="">
    </div>
  </section>
  <section>
    <div>
      <h1 class="title-experience text-center m-5 fs-2">Experiência Personalizada: Nosso Atendimento Especializado para Você</h1>
      <h2 class="subtitle-experience m-5 p-5 fs-3">Atendimento Especializado</h2>
    </div>
  </section>
</div>
