@import '../../../../assets/scss/variaveis.scss';

.container, .container-fluid {
  background: var(--branco);
}

.start-page {
  max-width: 100%;
  height: auto;
  display: flex;
}

.met-page {
  width: 50%;
}

.img-home1 {
  justify-content: flex-end;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}

.start-page h1 {
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 500;
  color: var(--preto) !important;
}

.start-page h5 {
  letter-spacing: 1px;
  color: var(--cinza);
  font-size: 18px;
}

.btn-get-in {
  height: 38px;
  width: 150px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: transparent;
  transition: 500ms;
  color: var(--branco);
  background-image: var(--linear-corrente);
  background-size: 200% auto;
  text-align: center;
}

.btn-get-in:hover {
  transform: scale(1.1, 1.1);
  background-position: right center;
}

.title-experience {
  color: var(--preto) !important;
  font-weight: 600;
}

.subtitle-experience {
  color: var(--preto);
  margin-top: 80px;
  font-size: 600;
}

.text-experience {
  color: var(--cinza);
  text-align: justify;
  width: 40%;
}

.img-experience {
  position: relative;
  z-index: 2;
}

.img-balls {
  position: relative;
  z-index: 1;
  bottom: 230px;
  right: 100px;
}

.carousel-inner {
  border-radius: 40px !important;
}

.carousel-item {
  height: 600px;
}

.btn {
  width: 50% !important;
  border-radius: 40px !important;
}

.bg-grey {
  background: var(--cinza-claro);
}

.carousel-control-prev {
  background: linear-gradient(to right, #6500e4 0%, #342A41 100%) !important;;
  opacity: 100%;
  height: 18px;
  width: 38px;
  border-radius: 40px;
}

.carousel-control-next {
  background: linear-gradient(to right, #342A41 0%, #6500e4 100%) !important;;
  opacity: 100%;
  height: 18px;
  width: 38px;
  border-radius: 40px;
}

.description {
  color: var(--cinza);
  font-weight: 500;
}

.icons {
  color: var(--letras);
  background: var(--linear);
  border-radius: 50px;
}

.arrow-icon {
  font-size: 30px;
  color: var(--roxo-claro);
}

.down {
  top: 30%;
}

.text-armazem {
  color: var(--preto) !important;
}

.patrocionio {
  background: var(--cinza);
  border-radius: 50%;
}

.img-patrocionio {
  height: 150px;
  width: 200px;
}
