@import '../../../../assets/scss/variaveis.scss';

.start-page {
    max-width: 100%;
    height: auto;
    display: flex;
}

.met-page {
  width: 50%;
}

.bg-pri-sec {
    background-color: $cinza-claro;
}

.img-home1 {
    justify-content: flex-end;
    max-width: 100%;
    height: auto;
}

.start-page h1 {
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 500;
}

.start-page h5 {
    letter-spacing: 1px;
    color: #6b6b6b;
    font-size: 18px;
}

.btn-get-in {
    height: 38px;
    width: 150px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: transparent;
    transition: 500ms;
    color: white;
    background-image: $linear-corrente;
    background-size: 200% auto;
    text-align: center;
}

.btn-get-in:hover {
    transform: scale(1.1, 1.1);
    background-position: right center;
}

.title-experience {
    font-weight: 600;
}

.subtitle-experience {
  margin-top: 80px;
  font-size: 600;
}

.text-experience {
  color: $cinza;
  text-align: justify;
  width: 40%;
}

.img-experience {
  position: relative;
  z-index: 2;
}

.img-balls {
  position: relative;
  z-index: 1;
  bottom: 230px;
  right: 100px;
}


.line {
  width: 90%;
}
