
<div class="container ajust-footer">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover text-start">
        <thead>
          <tr>
            <td class="columns-list">Id</td>
            <td class="columns-list">Nome</td>
            <td class="columns-list">Email</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td> {{ cliente.cliente_id}} </td>
            <td> {{ cliente.nome}} </td>
            <td> {{ cliente.email}} </td>
            <td class="d-flex justify-content-end ">
              <button type="button" class="btn btn-azul mx-4 px-4">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


