
<div class="container ajust-footer">
  <div class="row">
    <div class="col-md-12">
      <lista-vazia-cliente *ngIf="!clientesExiste"></lista-vazia-cliente>
      <table *ngIf="clientesExiste" class="table table-border-roxo table-font-roxo table-hover align-middle text-start">
        <thead>
          <tr>
            <td class="col columns-list">Id</td>
            <td class="col columns-list">Nome</td>
            <td class="col columns-list">Email</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let cliente of clientes; let i = index">
            <td> {{ i + 1 }} </td>
            <td> {{ cliente.nome}} </td>
            <td> {{ cliente.email}} </td>
            <td class="d-flex justify-content-end ">
              <button type="button" class="btn btn-azul mx-4 px-4">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


