
<div class="container-fluid mx-5 my-5 d-flex">
  <form class="row" #vendaForm="ngForm" (ngSubmit)="cadastrarVenda()">
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="alert alert-success" role="alert" *ngIf="sucessoFeedback">
          {{ sucessoFeedback }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback">
          {{ errorsFeedback }}
        </div>
      </div>
    </div>
    <div class="container col">
      <div class="img">
        <img class="img-peca mx-5" data-options="zoomPosition:inner;hint:off;" *ngIf="peca.base64" [src]="getFotoUrl(peca)" alt="Foto da Peça"/>
      </div>
    </div>

      <div class="col card text-center">
        <div class="card-body">
          <img src="/assets/img/LogoSemFundo.png" class="img-logo d-block mt-md-3 mx-auto" alt="imagem">
          <h1 class="card-title mt-3 fs-2 fw-medium">{{peca.nome }}</h1>
          <h2 class="card-title fs-4">{{peca.descricao }}</h2>
          <p class="card-text fs-5 mx-2 mb-5"> {{peca.preco | currency:'BRL':'symbol':'1.2-2'}} </p>
          <div class="px-5">
            <button class="btn btn-roxo w-50 text-uppercase p-2" type="submit">
              Comprar
            </button>
          </div>
        </div>
      </div>
    {{venda | json}}
  </form>
</div>


