@import '../../../../assets/scss/variaveis.scss';

.subtitle {
  font-weight: 400;
  color: var(--cinza);
}

.img-logo {
  max-width: 200px;
  max-height: 200px;
}

.img-peca {
  min-height: 500px;
  min-width: 900px;
  max-height: 500px;
  max-width: 900px;
  border: 2px solid var(--cinza-escuro);
  border-radius: 5%;
}

.btn {
  border-radius: 10px;
}

.underline {
  text-decoration: underline;
}

.text-gray {
  color: var(--cinza-escuro);
}

.text-black {
  color: var(--preto) !important;
}

.container {
  min-height: 50vh;
}

.card-body {
  border: 1px solid var(--cinza-escuro);
  border-radius: 5%;
}

.card{
  border: none;
  background-color: var(--branco);
}

.forms-compra {
  width: 90%;
}

