@import '../../../../assets/scss/variaveis.scss';
.subtitle {
    font-weight: 400;
    color: $cinza;
}

.img-logo {
    max-width: 200px;
    max-height: 200px;
}

.img-peca {
    max-width: 700px;
    max-height: 700px;
    border: 3px solid $cinza-claro;
    border-radius: 5%;
}

.btn {
    border-radius: 10px;
}

.container {
  min-height: 80vh;
}

.card{
  border: none;
}

