
<div class="container-fluid my-5 d-flex">
  <form class="row forms-compra" #vendaForm="ngForm" (ngSubmit)="addCarrinho()">
    <div class="row d-flex justify-content-center">
      <div class="col-1 w-25 p-0 m-0">
        <div class="alert alert-success" role="alert" *ngIf="sucessoFeedback">
          {{ sucessoFeedback }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorsFeedback">
          {{ errorsFeedback }}
        </div>
      </div>
    </div>
    <div class="container col mx-5">
      <div class="img">
        <img class="img-peca mx-5" data-options="zoomPosition:inner;hint:off;" *ngIf="peca.base64" [src]="getFotoUrl(peca)" alt="Foto da Peça"/>
      </div>
      <div class="mx-5 mt-5">
        <table class="table table-border-roxo table-font-roxo table-hover align-middle text-center">
          <thead>
            <tr>
              <td class="col columns-list">Marca</td>
              <td class="col columns-list">Ano</td>
              <td class="col columns-list">Modelo</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="line-list"> {{ peca.marca }} </td>
              <td class="line-list"> {{ peca.ano }} </td>
              <td class="line-list"> {{ peca.modelo }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div class="col card text-center">
        <div class="card-body mx-5 w-100">
          <img src="/assets/img/LogoSemFundo.png" class="img-logo m-5" alt="imagem">
          <h1 class="card-title mt-3 fs-2 fw-medium text-black">{{peca.nome }}</h1>
          <h2 class="card-title fs-6 text-gray">{{peca.descricao }}</h2>
          <p class="card-text fs-1 mx-2 mb-5 underline text-black"> {{peca.preco | currency:'BRL':'symbol':'1.2-2'}} </p>
        </div>
        <div class="my-4 d-flex justify-content-end flex-wrap">
            <button class="btn btn-roxo text-uppercase w-75 mb-3" type="submit">
              <i class="bi bi-basket-fill svg"></i>
              Carrinho
            </button>
            <button type="button" class="btn btn-cinza text-uppercase w-75" (click)="voltarCatalogo()">
              <i class="fa fa-arrow-alt-circle-left"></i>
              Voltar
            </button>
        </div>
      </div>
    </form>
  </div>


