@import '../../../../assets/scss/variaveis.scss';

.subtitle {
    font-weight: 400;
    color: var(--cinza);
}

.img-logo {
    max-width: 200px;
    max-height: 200px;
}

.img-peca {
  min-height: 500px;
  min-width: 900px;
  max-height: 500px;
  max-width: 900px;
  border: 3px solid var(--cinza-claro);
  border-radius: 5%;
}

.btn {
    border-radius: 10px;
}

.container {
  min-height: 50vh;
}

.card-body {
  border: 1px solid var(--cinza-claro);
  border-radius: 5%;
}

.card{
  border: none;
}

